html, body {
    background-color: #fff;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.content {
   max-width:500px;
   margin:30px auto;

}

.btn.wide{
    width:100%;
}

.error{
    color:red;
}

#results{
    margin-top:20px;
}
.avatar-div{
    display:inline-block;
}

img.avatar{
    width:75px;
    height:75px;
    margin-right:3px;
    margin-bottom:3px;
}

.user-details{
   display:inline-block;
}

h3{
   font-size:18px;
}